{% extends 'base.html' %}
{% block content %}

<h1 class="title">Regions</h1>

<div class="region-container">
   
    <a href="">
        <div class="region-name">
            <h1>Northeast</h1>
        </div>
    </a>
    <a href="">
        <div class="region-name">
            <h1>Southeast</h1>
        </div>
    </a>
    <a href="">
        <div class="region-name">
            <h1>Midwest</h1>
        </div>
    </a>
    <a href="">
        <div class="region-name">
            <h1>Southwest</h1>
        </div>
    </a>
    <a href="">
        <div class="region-name">
            <h1>West</h1>
        </div>
    </a>
    
</div>

{% endblock %}
