{% extends 'base.html' %}
{% block content %}
<div class="tile-container">
    <h1 class="title is-2">US Regions</h1>

    <div class="tile is-ancestor">
        <div class="tile is-parent is-3">
            <article class="tile is-child box is-warning">
                <h1 class="title is-3">West</h1>
                    {% for state in states %}
                        {% if state.region == "West" %}
                            <a href="{% url 'region_state_detail' state.pk %}"><ul class="subtitle is-5">{{state.name}}</ul></a>
                        {% endif %}
                    {% endfor %}
            </article>
        </div>
        <div class="tile is-4 is-vertical is-parent">
            <article class="tile is-child box">
                <h1 class="title is-3">Midwest</h1>
                    {% for state in states %}
                        {% if state.region == "Midwest" %}
                            <a href="{% url 'region_state_detail' state.pk %}"><ul class="subtitle is-size-5">{{state.name}}</ul></a>
                        {% endif %}
                    {% endfor %}
            </article>
            <article class="tile is-child box">
                <h1 class="title is-3">Southwest</h1>
                    {% for state in states %}
                        {% if state.region == "Southwest" %}
                            <a href="{% url 'region_state_detail' state.pk %}"><ul class="subtitle is-size-5">{{state.name}}</ul></a>
                        {% endif %}
                    {% endfor %}
            </article>
        </div>
        <div class="tile is-vertical is-parent">
            <article class="tile is-child box">
                <h1 class="title is-3">Northeast</h1>
                    {% for state in states %}
                        {% if state.region == "Northeast" %}
                            <a href="{% url 'region_state_detail' state.pk %}"><ul class="subtitle is-size-5">{{state.name}}</ul></a>
                        {% endif %}
                    {% endfor %}
            </article>
            <article class="tile is-child box">
                <h1 class="title is-3">Southeast</h1>
                    {% for state in states %}
                        {% if state.region == "Southeast" %}
                            <a href="{% url 'region_state_detail' state.pk %}"><ul class="subtitle is-size-5">{{state.name}}</ul></a>
                        {% endif %}
                    {% endfor %}
            </article>
        </div>
    </div>
</div>
    
{% endblock %}
