{% extends 'base.html' %}
{% block content %}
<div class="detail__region">
    <h1 class="title is-2">{{state.name}}</h1>

    <div class="tile is-ancestor">
        <div class="tile is-7 is-vertical is-parent">
            <div class="tile is-child box">
                <h1 class="title is-5">Small:</h1>
                    {% for school in state.schools.all %}
                        {% if school.size < 5000 %}
                        <a href="{% url 'school_detail' school.pk %}"><ul class="subtitle">{{school.name}}</ul></a>
                        {% endif %}
                    {% endfor %}
            </div>
            
    
            <div class="tile is-child box">
                <h1 class="title is-5">Medium:</h1>
                    {% for school in state.schools.all %}
                        {% if school.size >= 5000 and school.size < 15000 %}
                        <a href="{% url 'school_detail' school.pk %}"><ul class="subtitle">{{school.name}}</ul></a>
                        {% endif %}
                    {% endfor %}
            </div>
            
    
            <div class="tile is-child box">
                <h1 class="title is-5">Large:</h1>
                    {% for school in state.schools.all %}
                        {% if school.size >= 15000 %}
                        <a href="{% url 'school_detail' school.pk %}"><ul class="subtitle">{{school.name}}</ul></a>
                        {% endif %}
                    {% endfor %}
            </div>
          </div> 
          <div class="tile is-5 is-parent">
            <div class="tile is-child box">
                <form method="post" action="{% url 'school_create' state.pk %}" class="">
                    {% csrf_token %}
                    <label class="is-block mb-4">
                        <span class="is-block mb-2">School name</span>
                        <input
                        name="name"
                        type="text"
                        class="input"
                        placeholder="University of Puget Sound"
                        required
                        />
                    </label>
            
                    <label class="is-block mb-4">
                        <span class="is-block mb-2">City</span>
                        <input
                        name="city"
                        type="text"
                        class="input"
                        placeholder="Tacoma"
                        required
                        />
                    </label>

                    <label class="is-block mb-4">
                        <span class="is-block mb-2">Student body size</span>
                        <input
                        name="size"
                        type="number"
                        class="input"
                        placeholder="2400"
                        min="1"
                        required
                        />
                    </label>
            
                    <label class="is-block mb-4">
                        <span class="is-block mb-2">Public or private institution</span>
                        <span class="select is-fullwidth">
                        <select name="public_private">
                            <option>public</option>
                            <option>private</option>
                        </select>
                        </span>
                    </label>

                    <label class="is-block mb-4">
                        <span class="is-block mb-2">Research classification</span>
                        <span class="select is-fullwidth">
                        <select name="research_class">
                            <option>R1</option>
                            <option>R2</option>
                            <option>NA</option>
                        </select>
                        </span>
                    </label>
            
                    <label class="is-block mb-4">
                        <span class="is-block mb-2">School photo</span>
                        <input
                        name="img"
                        type="text"
                        class="input"
                        placeholder="paste image url here"
                        required
                        />
                    </label>
            
                    <label class="is-block mb-4">
                        <span class="is-block mb-2">Additional notes</span>
                        <textarea
                        name="notes"
                        class="textarea"
                        rows="3"
                        placeholder="UPS is a small liberal arts college in the Pacific Northwest."
                        ></textarea>
                    </label>
            
                    <div class="mb-4">
                        <button type="submit" class="button is-link px-4">Add School</button>
                    </div>
                </form>
            </div>
          </div>
    </div>
</div>

{% endblock %}