{% extends 'base.html' %}
{% block content %}

<h1 class="title">Regions</h1>

<div class="region-container">
    <h1 class="title">Northeast</h1>
    {% for state in states %}
        {% if state.region == "Northeast" %}
            <a href="{% url 'region_state_detail' state.pk %}"><ul>{{state.name}}</ul></a>
        {% endif %}
    {% endfor %}
</div>
<br>
<div class="region-container">
    <h1 class="title">Southeast</h1>
    {% for state in states %}
        {% if state.region == "Southeast" %}
            <a href="{% url 'region_state_detail' state.pk %}"><ul>{{state.name}}</ul></a>
        {% endif %}
    {% endfor %}
</div>
<br>
<div class="region-container">
    <h1 class="title">Midwest</h1>
    {% for state in states %}
        {% if state.region == "Midwest" %}
            <a href="{% url 'region_state_detail' state.pk %}"><ul>{{state.name}}</ul></a>
        {% endif %}
    {% endfor %}
</div>
<br>
<div class="region-container">
    <h1 class="title">Southwest</h1>
    {% for state in states %}
        {% if state.region == "Southwest" %}
            <a href="{% url 'region_state_detail' state.pk %}"><ul>{{state.name}}</ul></a>
        {% endif %}
    {% endfor %}
</div>
<br>
<div class="region-container">
    <h1 class="title">West</h1>
    {% for state in states %}
        {% if state.region == "West" %}
            <a href="{% url 'region_state_detail' state.pk %}"><ul>{{state.name}}</ul></a>
        {% endif %}
    {% endfor %}
</div>
<div class="region-container">
    
    
{% endblock %}
