{% extends 'base.html' %}
{% block content %}
<div class="school__img">
    <figure class="image is-5by3">
        <img src="{{school.img}}" alt="{{school.name}}" />
    </figure>   
</div>
<div class="tile-container">
    <div class="school_name">
        <h1 class="title is-2">{{school.name}}</h1>
    </div>
    <div class="city_name">
        <h1 class="is-size-5">{{school.city}}, {{school.state}}</h1>
    </div>
    <br>
    <div class="tile is-ancestor">
        <div class="tile is-vertical">
            <div class="tile">
                <div class="tile is-parent">
                    <article class="tile is-child is-5 box">
                        <p class="title">Stats:</h1>
                        <p class="subtitle">{{school.public_private}} institution</p>
                        <p class="subtitle">current enrollment: {{school.size}}</p>
                        <p class="subtitle">research classification: {{school.research_class}} </p>  
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <p class="title">Additional notes:</p>
                        <p class="subtitle">{{school.notes}}</p>
                    </article>
                </div>
            </div>
        </div>   
    </div>
    <div class="buttons">
        <a href="{% url 'school_update' school.pk %}" class="button is-info">Edit school</a>
        <a href="{% url 'school_delete' school.pk %}" class="button is-danger">Delete school</a>
    </div>
</div>


{% endblock %}