{% extends 'base.html' %}
{% block content %}
<div class="school__img">
    <figure class="image is-5by3">
        <img src="{{school.img}}" alt="{{school.name}}" />
    </figure>   
</div>
<div class="school_name">
    <h1 class="title is-2">{{school.name}}</h1>
</div>
<div class="city_name">
    <h1 class="is-size-5">{{school.city}}, {{school.state}}</h1>
</div>
<div class="basic_details">
    <span>{{school.public_private}} institution</span>
    <span>current enrollment: {{school.size}}</span>
    <span>research classification: {{school.research_class}} </span>
</div>
<div class="tile">
    <h1 class="is-size-3">Additional notes</h1>
    <p>{{school.notes}}</p>
</div>
<div class="buttons">
    <a href="{% url 'school_update' school.pk %}" class="button is-info">Edit school</a>
    <a href="{% url 'school_delete' school.pk %}" class="button is-danger">Delete school</a>
</div>




{% endblock %}